# History files
.Rhistory
.Rapp.history

# Output files from R CMD build
/*.tar.gz

# Example code in package build process
*-Ex.R

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# Python compiled files
.pyc
# text editor backup files
.bak

.RData

# install ready documentation
inst/doc

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

.Rproj.user
